/* Стилизация кнопки */
.button {
  padding: 15px 0 14px;
  margin: 30px 15px;
  width: 182px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--primary {
  padding: 0 62px 0 63px;
  background: var(--Blue, #4263eb);
  border-color: var(--Blue);
}
.button--primary:hover:not(:disabled) {
  background: #2342c0;
}

.button--secondary {
  background: var(--Purple, #7048e8);
}

.button--secondary:hover:not(:disabled) {
  background: #5028c6;
}

.button--alternate {
  color: var(--grey-4, #495057);
  background-color: var(--white);
  border: 1px solid var(--grey-3);
}

.button--alternate:hover:not(:disabled) {
  border: 1px solid var(--grey-4);
}
