/* Стилизация кнопки */
.button {
  padding: 15px;
  height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: background-color 0.5s;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button_primary {
  background: var(--Blue, #4263eb);
  border-color: var(--Blue);
}
.button_primary:hover:not(:disabled) {
  background: #2342c0;
}

.button_secondary {
  background: var(--Purple, #7048e8);
}

.button_secondary:hover:not(:disabled) {
  background: #5028c6;
}

.button_alternate {
  color: var(--input-text-color);
  background-color: var(--main-bg);
  border: 1px solid var(--grey-3);
}

.button_alternate:hover:not(:disabled) {
  border: 1px solid var(--input-text-color);
}
.button_modal {
  margin-top: 19px;
}
