/* Стилизация аккордеона */
.accordion__section {
  margin-bottom: 8px;
  padding: 24px 32px;
  background-color: var(--white);
  border: 1px solid var(--grey-3);
  color: var(--black);
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  position: relative;
}

.accordion__summary,
.accordion__summary-text {
  font-family: inter;
}

.accordion__summary-text {
  color: var(--grey-4);
  margin: 0;
  padding: 24px 0 24px 0;
}
.accordion__summary::-webkit-details-marker {
  display: none;
}
.accordion__section:last-child {
  margin: 0;
}

.accordion__section[open] {
  padding: 24px 32px 8px 32px;
}

.accordion__arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 32px;
  top: 24px;
}
.accordion__section[open] .accordion__arrow {
  transform: rotate(180deg);
}
