.modal {
  display: none;
  min-width: 284px;
  border-radius: 8px;
  background: var(--white);
  padding: 32px 40px 40px 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.modal__close {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 95%;
  transform: translate(-30%, -100%);
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal__text {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: var(--Gray-3, #acb5bd);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
}
.modal__input {
  padding: 17px 0 13px 24px;
  border-radius: 8px;
  border: 1px solid var(--grey-2);
}

.modal__input::placeholder {
  color: var(--grey-2);
}
.modal-background {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: #c4c4c4;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 998;
}
