.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page__main {
  flex-grow: 1;
}
.page_inner {
  background-color: var(--grey-1);
}
@media (max-width: 1150px) {
  .page {
    padding-left: 15px;
    padding-right: 15px;
  }
}
