@import '../fonts/fonts.css';
@import 'normalize.css';
@import '../../components/header/header.css';
@import '../../components/content/content.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/preview/preview.css';
@import '../../components/logo/logo.css';
@import '../../components/navigation/navigation.css';
@import '../../components/toggler/toggler-theme.css';
@import '../../components/tabs/tabs.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #374fc7;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #334d6e;
  --grey-6: #90a0b7;
  --notification: #d84910;
  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);

  --text-primary: var(--black);
  --text-secondary: var(--grey-3);
  --active-text-color: var(--text-primary);
  --main-bg: var(--light-bg);
  --grey-bg: var(--grey-1);
  --white-bg: var(--white);
  --light-bg: var(--white);
  --dark-bg: var(--black);
  --card-bg: var(--white);
  --font-color: var(--text-primary);
  --input-text-color: var(--grey-4);
}

body {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
html[data-theme-dark] {
  --main-bg: var(--black);
  --font-color: #ffffff75;
  --dark-bg: var(--grey-1);
  --white-bg: var(--black);
  --light-bg: var(--grey-4);
  --grey-bg: var(--grey-4);
  --card-bg: var(--black);
  --text-primary: var(--white);
  --active-text-color: var(--grey-2);
  --input-text-color: var(--font-color);
  --checkbox-icon: none;
  --checkbox-icon-checked: block;
}
