.form {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.form__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.form__label {
  color: var(--grey-3);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.form__input {
  all: unset;
  background-color: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 6px;
  color: var(--Gray-4, #495057);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  height: 56px;
}
.form__input::placeholder {
  color: var(--grey-2);
  padding-left: 24px;
}
.form__input:focus {
  border: 1px solid var(--blue);
}
.form__input_error {
  border: 1px solid var(--error);
}
.form__icon_error {
  display: inline-flex;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  visibility: hidden;
}
.form__icon_success {
  display: inline-flex;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  visibility: hidden;
}
.form__input:disabled {
  background-color: var(--grey-2);
}
